<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EFTReporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup></startup>
  <connectionStrings>
    <add name="SDSEntities"
      connectionString="metadata=res://*/Model.EFTAdminDataSDS.csdl|res://*/Model.EFTAdminDataSDS.ssdl|res://*/Model.EFTAdminDataSDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL1\PCLAW;initial catalog=SDS;integrated security=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="CCE_PCLAW_ReportsEntities"
         connectionString="metadata=res://*/Model.EFTDataAB.csdl|res://*/Model.EFTDataAB.ssdl|res://*/Model.EFTDataAB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL1\PCLAW;initial catalog=PCLAW_Reports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CRS_PCLAW_ReportsEntities"
         connectionString="metadata=res://*/Model.EFTDataCRS.csdl|res://*/Model.EFTDataCRS.ssdl|res://*/Model.EFTDataCRS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL1\PCLAW;initial catalog=PCLAW_FRSReports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CBC_PCLAW_ReportsEntities"
         connectionString="metadata=res://*/Model.EFTDataCBC.csdl|res://*/Model.EFTDataCBC.ssdl|res://*/Model.EFTDataCBC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL1\PCLAW;initial catalog=PCLaw_BCReports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="T.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.2.613.45" newVersion="2016.2.613.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <EFTReporting.Properties.Settings>
      <setting name="EFTReporting_DocumentSchemaManagerService_DocumentSchemaManager"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/LibraryManager/DocumentSchemaManager.asmx</value>
      </setting>
      <setting name="EFTReporting_DocumentManagerService_DocumentManager"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/LibraryManager/DocumentManager.asmx</value>
      </setting>
      <setting name="EFTReporting_DocumentFinderService_DocumentFinder"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/LibraryManager/DocumentFinder.asmx</value>
      </setting>
      <setting name="EFTReporting_adeActiveDocs_adeDocumentAssembly"
        serializeAs="String">
        <value>http://cgybackup/activedocsdev/adedocumentassembly.asmx</value>
      </setting>
      <setting name="EFTReporting_LibraryStructureManagerService_LibraryStructureManager"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/LibraryManager/LibraryStructureManager.asmx</value>
      </setting>
      <setting name="EFTReporting_RepositoryControllerService_RepositoryController"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/DocumentRepository/RepositoryController.asmx</value>
      </setting>
      <setting name="EFTReporting_SessionManagerService_SessionManager"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/UserRoleManager/SessionManager.asmx</value>
      </setting>
      <setting name="EFTReporting_UserPreferencesService_UserPreferences"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/LibraryManager/UserPreferences.asmx</value>
      </setting>
      <setting name="EFTReporting_WindowsLoginService_WindowsLogin"
        serializeAs="String">
        <value>http://filehold/FH/FileHold/UserRoleManager/WindowsLogin.asmx</value>
      </setting>
    </EFTReporting.Properties.Settings>
  </applicationSettings>
</configuration>